.html {
    margin: 20px 40px 5px 30px;
    display: inline-block;
}

.nav {
    margin: 5px 40px;
    display: inline-block;

}

li {
    display: inline-block;
    vertical-align: top;
}

.ancher {
    color: #3D58A6;
    font-size: 22px;
    margin-left: 40px;
}

.red {
    color: red;
}

article {
    width: 1170 px;
    margin: 0 auto;
}

.box1 {
    width: 56px;
    height: 56px;
    display: inline-block;
    vertical-align: top;
    font-size: 37px;
    padding: 10px;
    margin: 100px 0px 0px 30px;
    background-color: #3D58A6;
}

.h2 {
    font-size: 22px;
    color: #3D58A6;
    margin: 0px 0px 15px 30px;
}

.lorem {
    font-size: 20px;
    margin: 0px 0px 30px 30px;
}

.space {
    width: 1170px;
    display: inline-block;

}

.image {
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;

}

.first {
    display: inline-block;
    vertical-align: top;
    width: 950px;
}

.aa {
    margin: 40px 0px 20px 30px;
}

.qq {
    display: inline-block;
    font-size: 22px;
    margin-left: 40px;
    margin-top: 20px;
}





/* //NEWS// */

.sec-1 {
    margin-bottom: 50px;
    margin-top: 50px;

}

.sec-2 {
    margin-bottom: 120px;

}

.container {
    width: 1170px;
    margin: 0 auto;
}

.tt {
    font-size: 24px;
    margin-bottom: 30px;
    font-family: 'Playfair Display', serif;

}

.card-left,
.card-right {
    width: 570px;
    height: 225px;
    background-color: #F2F2F2;
    display: inline-block;
    vertical-align: top;
}

.card-left {
    margin-right: 26px;
}

.ff {
    font-size: 22px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    color: #3d58a6;
    margin: 20px 0 18px 20px;
}

.hh {
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    color: #333333;
    width: 300px;
    display: inline-block;
    vertical-align: top;
    line-height: 120%;
    margin: 10px 0px 0px 30px;
}

.rr {
    margin-top: 20px;
    margin-left: 20px;
    display: inline-block;
    vertical-align: top;

}

.vv {
    display: inline-block;
    margin: 0px 0px 50px 200px;
}

.dd {
    display: inline-block;
    margin: 0px 0px 50px 8px;
}

.line {
    display: inline-block;
    width: 1px;
    height: 28px;
    background-color: #3D58A6;
    margin: 0px 0px 50px 8px;

}


/* //  CONTACTS // */

.bg {
    width: 100%;
    height: 570px;
    background-color: #E6E6E6;
    display: inline-block;
}

.bb {
    width: 261px;
    height: 98px;
    display: inline-block;
    vertical-align: top;
    margin: 40px 0px 0px 97.3px;

}

.ht {
    width: 848px;
    display: inline-block;
    vertical-align: top;
    margin: 40px 0px 100px 40px;

}



.uu {
    display: inline-block;
    margin: 40px 30px 40px 50px;
}

.pp {
    display: inline-block;
    margin: 40px 0px;
}

.line2 {
    display: inline-block;
    width: 1px;
    height: 28px;
    background-color: #3D58A6;
    margin: 40px 40px 40px 0px;
}

.df {
    color: #3D58A6;
    font-size: 20px;

}

.fd {
    color: #808080;
}

/* FONTS */
.qart {
    font-family: "Arial GEO", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}

.nmtavr {
    font-family: "BPG Nino Mtavruli", sans-serif;
    font-weight: 400;
    letter-spacing: 10px;
    word-spacing: 20px;
    font-style: italic;
}

.eng1 {
    font-family: 'Chivo Mono', monospace;
    font-weight: 700;

}

.eng2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;

}